a:hover {
  color: green;
}

body {
  font-family: 'PT Serif', serif;
}

th {
  color: black;
}

#first {
  padding-top: 80px;
      height: 750px;
}
#second{
  padding-top: 50px;
height:800px;
}
#third{
  padding-top:40px ;
  height:600px;
}

#title {
  background-color: #f8bb00;
  padding-bottom: 50px;
}
.boy{
  position: relative;
      bottom: 504px;
      height: 800px;
      right: 40px;
}
.businessman{left: 520px;
    position: absolute;
    top: 10px;}
.collegegirl{
  position: relative;
    bottom: 350px;
    left: 700px;
}

.container-fluid {
  padding: 0 0 4.5;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: lighter;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.5rem;
  font-family: "Montserrat"
    font-weight:400;
}

.title-button {
  width: 300px;
  height: 50px;
  position: absolute;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 10rem;
  font-weight: lighter;
  margin-top: 48px;
  margin-left: 80px;
  letter-spacing: 4px;
}

.first_group {
  background-color: #f8bb00;
  height: 500px;
  width: 1100px;
  top: 100px;
  left: 150px;
  right: 30px;
  position: relative;
  border-radius: 40px;
}

.second_group {
  background-color: #f8bb00;
  height: 600px;
  width: 1100px;
  top: 100px;
  left: 150px;
  right: 30px;
  position: relative;
  border-radius: 40px;
}

.third_group {
  background-color: #f8bb00;
  height: 400px;
  width: 1100px;
  top: 100px;
  bottom: 200px;
  left: 150px;
  right: 30px;
  position: relative;
  border-radius: 40px;
  margin-bottom: 100px;
}
.t1main{
  padding-left: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
.age1{
  padding-left: 0px;
    padding-right: 120px;
    padding-top: 40px;
    text-align: left;
}
h1{
  padding-bottom: 5px;
}
.text{
  width: 70%;
    position: relative;
    left: 180px;
    text-align: center;
}
h1{
  align-content: center;
    text-align: center;
    padding-top: 50px;
}
.p1{
  padding-top: 30px;
}
